@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Bold.woff2') format('truetype');
    font-weight: 600;
    size-adjust: 100%;
    font-display: fallback;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Light.woff2') format('truetype');
    font-weight: 300;
    size-adjust: 100%;
    font-display: fallback;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Regular.woff2') format('truetype');
    font-weight: 400;
    size-adjust: 100%;
    font-display: fallback;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-Medium.woff2') format('truetype');
    font-weight: 500;
    size-adjust: 100%;
    font-display: fallback;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-SemiBold.woff2') format('truetype');
    font-weight: 600;
    size-adjust: 100%;
    font-display: fallback;
}

